@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

.card3 {
    display: flex;
    justify-content: center;
    background-color: #1f5156;
}

.card3>div {
    width: 600px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

.card3 ul {
    list-style: none;
    font-family: sans-serif;
}

.card3 ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.card3 ul li a {
    text-decoration: none;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

.card3 ul li a:hover {
    color: darkgoldenrod;
}